:root{
    background-image: linear-gradient( to bottom right, rgba(58, 166, 255, 0.5),rgba(57, 47, 110, 0.8));
    background-size: contain;
    text-align: center;
}
body {
    border-radius: 13px;
    background-color: rgba(16, 8, 55 ,0.5);
    margin: 0 10%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}
h1{
    text-align: center;
    color: #7972A4;
    font-size: 50px;
    font-weight: 200;
    text-transform: uppercase;
    display: inline-block;
    background-color: rgba(255, 254, 253 ,0.5);
    border-radius: 33px;
    padding: 20px;
   }

p {
    color:white;
    font-size: 20px;
    margin-top: 50px;
    padding:20px;
}

ul {
    list-style: none;  
}
li>a {
    font-size: 28px;
    color: #100837;
    text-decoration: none;
    background-color: rgba(241, 218, 8);
    border-radius: 13px;
    padding: 20px;

    
}
    
hr{
    margin: 40px 20px 80px -20px;

}

img{
    border-radius: 5px;
    margin:50px 10px 50px;
}
.btn{
    transition: all 0.2s ease-in-out;
}
.btn:hover{
    transform: translateY(-8px) scale(1.1);

}
.btn:active{
    transform: translateY(3px) scale(0.9);
}
#register{
    background-color: rgba(241, 218, 8);
    border-radius: 33px;
    padding: 20px;
    text-decoration: none;
    box-shadow: 2px 6px #444;
}

nav{
    font-size: 18px;
    text-decoration: none;
    background-color:#100837 ;
    border-radius: 13px;
    padding: 30px;
}
nav>a{
    font-size: 18px;
    color: #100837;
    text-decoration: none;
    background-color: rgba(241, 218, 8);
    border-radius: 13px;
    padding: 20px;

}